---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import PFCard from '@/components/PFCard.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getFeaturedProjects, getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
const projects = await getFeaturedProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section class="rounded-lg border">
    <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="text-3xl leading-none font-bold">Gaurav Raj</h3>
      <p class="text-muted-foreground text-sm">
        Security Researcher &amp; Software Engineer
      </p>
    </div>
    <div class="p-6 pt-0">
      <p class="text-muted-foreground mb-2 text-sm">
        Offensive Security Researcher & Software Engineer with 8+ years of
        open-source experience. Specialized in low-level systems programming
        (C/ASM/Rust), Linux internals, kernel development, and red team
        operations. Strong crossover between kernel engineering, cloud
        infrastructure, and full-stack development.
      </p>
    </div>
  </section>

  <section class="featured-projects">
    <h2 class="mb-3 text-2xl font-medium">Featured Projects</h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {projects.map((project) => <PFCard project={project} />)}
    </div>
  </section>

  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
