---
import { getFeaturedWorks } from '@/lib/data-utils'
import Link from './Link.astro'
import { buttonVariants } from './ui/button'
import WorksCard from './WorksCard.astro'

const works = await getFeaturedWorks(3)
---

<section class="mt-4 flex flex-col gap-y-4">
    <h2 class="font-ss-tech text-2xl font-bold">
        Community Labs & Infrastructure
    </h2>
    <ul class="flex flex-col gap-y-4">
        {
            works.map((i) => (
                <li>
                    <WorksCard work={i} />
                </li>
            ))
        }
    </ul>
    <div class="flex justify-end">
        <Link
            href="/works/published"
            class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
            See all published works<span
                class="ml-1.5 transition-transform group-hover:translate-x-1"
                >&rarr;</span
            >
        </Link>
    </div>
</section>
