---
import type { CollectionEntry } from 'astro:content'
import ProjectCard from './ProjectCard.astro'

interface Props {
    title: string
    projects: CollectionEntry<'projects'>[]
    hasMoreProjects: boolean
    endpoint: string
}

const { title, projects, hasMoreProjects, endpoint } = Astro.props
---

<div class="mt-12 mb-12">
    <div class="mb-4 flex items-center justify-between">
        <h2 class="font-ss-tech text-2xl font-bold">{title}</h2>
        {
            hasMoreProjects && (
                <a
                    href={`/works/${endpoint}/2`}
                    class="text-muted-foreground text-sm hover:underline"
                >
                    View all →
                </a>
            )
        }
    </div>
    <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
    </div>
</div>
<hr />
